*/build/
*/build_isolated/
*/devel/
*/devel_isolated/
*/build_isolated/
*/install_isolated/
*/logs/
docs/
*/.catkin_workspace
*/DISABLED
*.bag
*.pyc
cmake-build-debug/
cmake-build-release/
*.idea
*.swp
*.kate-swp
*.director
*.DS_STORE
*.catkin_tools
*.bag
*.bag.active
*.stl
*.directory
build
log
!openslam_gmapping/include/gmapping/log/
!openslam_gmapping/log/
install
